<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>部品情報一覧</title>
</head>
<body>
<table border="1">
  <h1>部品情報一覧</h1>
  <thead>
  <tr>
    <th>部品ID</th>
    <th>部品名</th>
    <th>製造業者</th>
    <th>EOL日</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="parts : ${parts}">
    <td> <a th:href="@{/parts/update/{id}(id=${parts.partId})}" th:text="${parts.partId}"></a></td>
    <td th:text="${parts.partName}">赤LED</td>
    <td th:text="${parts.manufacturer}">照明株式会社</td>
    <td th:text="${parts.eol}">2025-12-31</td>

  </tr>
  </tbody>
</table>


</body>
</html>
