<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>組み立て手順情報一覧</title></head>
<body>
<table border="1">
  <h1 th:text="${targetProcedure[0].targetPart.partName + '（部品ID: ' + targetProcedure[0].assemblyProcedure.targetPartId + '）の組み立て手順情報'}">
  組み立て手順情報
</h1>
  <tr>
    <th>組み立て手順ID</th>
    <th>説明</th>

  </tr>
  </thead>
  </tbody>
  <tr th:each="procedureDetails : ${targetProcedure}">
    <td th:text="${procedureDetails.assemblyProcedure.procedureId}">1</td>
    <td th:text="${procedureDetails.assemblyProcedure.description}">ねじを取り付ける</td>
  </tr>
  </tbody> </table>
</body>
</html>