<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>部品情報更新</title>
</head>
<body>
<h1>部品情報更新</h1>

<h2>入力フォーム</h2>
<p th:text="${message}"></p>
<!--<p style="color:red" th:text="${errorMessage}"></p>-->
<form th:action="@{/parts/update/{id}(id=${partId})}" th:object="${updatePart}" method="post">
  <input type="hidden" th:field="*{partId}" required/>
  <div>
    <label for="name">部品名:</label>
    <input type="text" id="name" th:field="*{partName}" required/>
  </div>
  <div>
    <label for="name">製造メーカー:</label>
    <input type="text" id="manufacturer" th:field="*{manufacturer}" />
  </div>
  <div>
    <label for="name">EOL日:</label>
    <input type="date" id="eol" th:field="*{eol}" />
  </div>
  <div>
    <label><input type="checkbox" th:field="*{discontinued}"/> 製造停止</label>
  </div>

  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>
