<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>必要部品情報更新</title>
</head>
<body>
<h1>必要部品情報更新</h1>

<h2>入力フォーム</h2>
<p th:text="${message}"></p>
<form th:action="@{/parts/required/update/{id}(id=${requiredPartId})}" th:object="${updateRequiredPart}" method="post">

  <input type="hidden" th:field="*{requiredPartId}" required/>
  <input type="hidden" th:field="*{procedureId}" required/>

  <div th:if="${#fields.hasErrors('partId')}" style="color:red">
    <p th:errors="*{partId}"></p>
  </div>
  <div>
    <label for="name">部品ID:</label>
    <input type="number" id="name" th:field="*{partId}" required/>
  </div>

  <div th:if="${#fields.hasErrors('quantity')}" style="color:red">
    <p th:errors="*{quantity}"></p>
  </div>
  <div>
    <label for="name">必要数:</label>
    <input type="number" id="quantity" th:field="*{quantity}" required/>
  </div>

  <div>
    <button type="submit" name="action" value="add">新規必要部品を登録する</button>
    <button type="submit" name="action" value="finish">更新を終了する</button>
  </div>
</form>
</body>
</html>
